@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}  */

body {
  background-color: #a8dadc9e;
  color: #1d3557;
}

#listWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 70%;
}

#listWrapper > * {
  width: 100%;
}
#listWrapper .ant-upload,
#listWrapper button {
  width: 100%;
}
#listWrapper > span {
  display: flex;
  justify-content: center;
  align-items: center;
}

#listWrapper > button {
  width: 100%;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}
